{% extends 'base.html' %}
{% block title %} 
 | List Video
{% endblock %}
{% block content %}
<h1><a href="/video/new">Add new video</a></h1>
{{ h.form(h.url(controller='search', action='index'), method='post') }}
          {{ h.text('q', class='form-control')}}
          {{ h.submit('submit', 'Submit', class='btn btn-default') }}
          {{ h.end_form() }}
	<div class="row">
	  <div>
	   {% for video in c.videos %}
		<div class="col-sm-6">
			{{ video.url }}<br>
	    <a href="/video/show/{{ video.id }}">View</a>

	    <div>Related: 
	    {% for tag in video.tags %}
	    	 {{ h.link_to(tag.content, url(controller='tag', action='related', content=tag.content )) }} 
	    {% endfor %}
	    </div>

	    </div>
	    {% endfor %}

	  </div>
	  
	</div>


{% endblock %}