{% extends 'base.html' %}
{% block title %} 
Admin{% endblock %}
{% block content %}
<h1>Admin</h1>
{{ c.users }}
<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Users Table</div>
	 
	  <!-- Table -->
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Title</th>
	        <th>View</th>
	        <th>Edit</th>
	        <th>Delete</th>
	      </tr>
	    </thead>
	    <tbody>

	    {% for user in users %}
	      <tr>
	        <td>{{ user.username }} | ID:{{ user.uid }}</td>
	        <td><a href="/account/show_user/{{ user.uid }}">Show</a></td>
	        <td><a href="/account/edit_user/{{ user.uid }}">Edit</a></td>
	        <td><a href="/account/delete_user/{{ user.uid }}">Delete</a></td>
	      </tr>
	      {% endfor %}
	     </tbody>
	  </table>
	</div>
{% endblock %}